server {
    listen 80;

    server_name localhost;


    index index.html index.htm;

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log error;


    location / {
        proxy_pass http://127.0.0.1:{{env_server_green_port}};
    }
}
